@font-face {
    font-family: 'FishFinger';
    src:  url('fonts/fishfingers.woff') format('woff');
}

@font-face {
    font-family: 'FishFingersLight';
    src:  url('fonts/fishfingers-light.woff') format('woff');
}

header .header__page {
    font-family: 'Fish', sans-serif;
    text-align: center;
    
}
