<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Pokéslots</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" href="/css/main.css">
    </head>
    <body >
        {% block header %}
		<header class="header__page">
            {% if current_user %}
            <a class="header_link__logout" href="/logout">Logout {{ current_user.username }}</a>
            {% endif %}
            <h1 class="header_title">pokéslots</h1>
            <h2 class="header_subtitle">gotta spin 'em all !</h2>
		</header>
        {% endblock %}
        <main class="main__page">
            {% block content %}{% endblock %}
        </main>

        {% block js %}
        <script type="text/javascript" src="/js/main.js">
        {% endblock %}
        </script>
    </body>
</html>
